#hhee{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-image: linear-gradient(to right, rgb(30, 16, 153) ,rgb(153, 51, 173));
 width: 500px;
 height: 50px;
 text-align: center;
 color: white;
 padding-top: 10px;
 font-size: x-large;
 
}
#email{
    width: 440px;
    height: 40px;
    border-radius: 5px;
}
#emo{
    padding-left: 20px;
}
#send{
    background-image: linear-gradient(to right, rgb(30, 16, 153) ,rgb(153, 51, 173));
    width: 430px;
    height: 40px ;
    color: white;

    
}
#padd{
    padding-left: 25px;
    border-radius: 5px;
}
#form{
    margin: auto;
    box-shadow: 5px 5px 5px 5px rgb(107, 104, 104);
    width: 500px;
    padding-bottom: 30px;
}