#went{
    height: 350px;
    width: 100%;
}
#pics{
    width: 300px;
    height: 250px;
    padding: 40px 0px 0px 30px;
}
#photo1{
    width: 300px;
    height: 250px;
    padding: 40px 0px 0px 30px;

}
#rrr2{
    width: 300px;
    height: 250px;
    padding: 40px 0px 0px 30px;

}
#kk3{
    width: 300px;
    height: 250px;
    padding: 40px 0px 0px 30px;
}